@use "../abstracts" as abs;
@import "../abstracts/functions";
/*----------------------------------------*\
    #timer 
\*-----------------------------------------*/

.timer {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  grid-gap: 0px rem(10px);
  justify-items: center;
  color: var(--White);

  &__box {
    border-radius: 1rem;
  }

  &__placeholder {
    background: var(--Dark-desaturated-blue);

    border-radius: 0.5rem;
    box-shadow: 0px rem(5px) var(--Very-dark-blue);
    min-width: rem(72px);
    min-height: rem(64px);
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;

    // halv circles on side
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: rem(8px);
      height: rem(8px);
      border-radius: 1rem;
      background: var(--Very-dark-blue);
      top: 49%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    &::after {
      left: 100%;
      transform: translate(-50%, -50%);
    }
  }

  // shared style for both sections
  &__top-section,
  &__bottom-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: inherit;
    font-size: rem(34px);
    color: var(--Soft-red);
  }

  // top hlaf of the card
  &__top-section {
    height: 50%;
    z-index: 2;
    padding-top: rem(11px);
    overflow: hidden;
    box-shadow: 0 4px 2px -4px var(--Very-dark-blue),
      inset 0px 1px 0px var(--Very-dark-blue);
    border-radius: 0.5rem;

    &--active {
      @extend .timer__top-section;
      transform-origin: bottom;
      transform: rotateX(180deg);
      transition: transform 500ms linear;
    }
  }

  &__bottom-section {
    height: 100%;
    padding-top: rem(11px);
  }

  &__title {
    font-size: rem(7px);
    letter-spacing: rem(3px);
    padding-top: rem(12px);
    text-transform: uppercase;
    color: var(--Grayish-blue);
  }

  /*tablet view------------------------------*/
  @include abs.respond-to("tablet") {
    justify-items: start;
    grid-gap: 0 1.625rem;

    &__placeholder {
      min-width: rem(150px);
      min-height: rem(135px);
      box-shadow: 0 rem(8px) var(--Very-dark-blue);

      &::before,
      &::after {
        width: 0.75rem;
        height: 0.75rem;
      }
    }

    &__top-section,
    &__bottom-section {
      font-size: 5.125rem;
    }

    &__top-section {
      box-shadow: 0 6px 13px -4px var(--Very-dark-blue),
        inset 0 2px 0 var(--Very-dark-blue);
    }

    &__title {
      font-size: 1rem;
      letter-spacing: rem(4px);
      padding-top: 1.75rem;
    }
  }
}
