/*----------------------------------------*\
    #helper classes
\*-----------------------------------------*/

.container {
  max-width: 21rem;
  margin: 0 auto;
}

.sr-only {
  display: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(1px, 1px, 1px, 1px);
  clip: inset(1px, 1px, 1px, 1px);
  white-space: no-wrap;
}
