@use "./functions" as f;
/*----------------------------------------*\
    #variables
\*-----------------------------------------*/

:root {
  // colors
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue-bg: hsl(235, 16%, 14%);
  --Very-dark-blue: hsl(234, 17%, 12%);
}

// breakpoints
$breakpoints: (
  "tablet": 43em,
  "laptop": 62em,
  "desktop": 8em,
);

// transitions
$all-200ms-ease-in-out: all 200ms ease-in-out;
